.timebar {
    fill: aqua;
    stroke: black;
}

.brush .extent {
    stroke: #fff;
    fill-opacity: .125;
    shape-rendering: crispEdges;
  }

.brushed {
    fill: rgb(255, 115, 0);
}

svg { border: 1px solid black; }

.axis path,
.axis line {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
}
