/* #chart1 {
    float:left;
}
#chart2{
    float:left;
}
#chart3 {
    float: left;
}
#chart4{
    float:left;
} */

.timebar {
    fill: aqua;
    stroke: black;
}

* { border: 1px solid black; }
