/* #chart1 {
    float:left;
}
#chart2{
    float:left;
}
#chart3 {
    float: left;
}
#chart4{
    float:left;
} */

.timebar {
    fill: aqua;
    stroke: black;
}

.brush .extent {
    stroke: #fff;
    fill-opacity: .125;
    shape-rendering: crispEdges;
  }

.brushed {
    fill: rgb(255, 115, 0);
}